#accordion1 a , #accordion3 a {
    font-size: 8pt;
}

table.single_border {
    border: 1px solid black;
    padding: 2px;
}

input {
    font-size: 14pt;
}

#dv1l, #dv1s {
    width: 700px;
    margin: auto;
    font-size: 14pt;
    position: relative;
    top: 150px;
    padding: 10px;
}

#user-params {
    position: absolute;
    left: 985px;
    top: 20px;
    font-size: 13pt;
    font-family: Verdana;
    background-color: aquamarine;
    padding: 5px;
}

#main-head {
    text-align: center;
}

#dialog-link {
    font-size: 10pt;
}

.group-data {
    font-size: 13pt;
}

.notification-data {
    
}

body{
	font: 62.5% "Trebuchet MS", sans-serif;
	margin: 50px;
    background-color: cadetblue;
}
.demoHeaders {
	margin-top: 2em;
}
#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}
select {
	width: 200px;
}
