tr, td {
	margin: 10px;
}

body {
    background-color: silver;
    font-size: 15pt;
    margin-left: 10%;
    margin-right: 10%;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding: 10px;
}

button {
    font-size: 18pt;
    margin: 10px;
}

h1 {
    text-align: center;
}